@model  ML.Usuario
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registro Usuario</h2>



@using (Html.BeginForm("Form", "Usuario", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.IdUsuario)
<div class="div-responsive">
    <div class="mb-3">
        @Html.LabelFor(model => model.UserName, new { @class = "fs-3" })
    </div>
    <div>
        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @onkeypress = "SoloLetras(event)" })
        @Html.ValidationMessageFor(Model => Model.UserName, "", new {@class = "text-danger"})
        <span class="error"></span>
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Nombre, new { @class = "fs-3" })
    </div>
    <div>
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control", @onkeypress = "SoloLetras(event)" })
        @Html.ValidationMessageFor(Model => Model.Nombre, "", new { @class = "text-danger" })
        <span class="error"></span>
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.ApellidoPaterno, new { @class = "fs-3" })
    </div>
    <div>
        @Html.TextBoxFor(model => model.ApellidoPaterno, new { @class = "form-control", @onkeypress = "SoloLetras(event)" })
        @Html.ValidationMessageFor(Model => Model.ApellidoPaterno, "", new { @class = "text-danger" })
        <span class="error"></span>
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.ApellidoMaterno, new { @class = "fs-3" })
    </div>
    <div>
        @Html.TextBoxFor(model => model.ApellidoMaterno, new { @class = "form-control", @onkeypress = "SoloLetras(event)" })
        @Html.ValidationMessageFor(Model => Model.ApellidoMaterno, "", new { @class = "text-danger" })
        <span class="error"></span>
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Email, new { @class = "fs-3" })
    </div>
    <div>
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @onblur = "ValidacionCorreo(event)", @style = "background:#33fff6" })
        @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })
        <span class="error"></span>
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Password, new { @class = "fs-3" })
    </div>
    <div>
        @Html.PasswordFor(model => model.Password, new { @id = "password", @class = "form-control", @onblur = "ValContra(event)", @style = "background:#33fff6" })
        @Html.ValidationMessageFor(Model => Model.Password, "", new { @class = "text-danger" })
        <span class="error"></span>
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.confirpass, new { @class = "fs-3" })
    </div>
    <div>
        @Html.PasswordFor(model => model.confirpass, new { @id = "confirmpassword", @class = "form-control", @onblur = "ValContra(event)", @style = "background:#33fff6" })
        @Html.ValidationMessageFor(Model => Model.confirpass, "", new { @class = "text-danger" })
        <span class="error"></span>
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.FechaNacimiento, new { @class = "fs-3" })
    </div>
    <div>
        <input type="text" id="datepicker" name="FechaNacimiento">
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Sexo, new { @class = "fs-3" })
    </div>
    <div>
        @Html.TextBoxFor(model => model.Sexo, new { @class = "form-control", @style = "background:#33fff6" })
        @Html.ValidationMessageFor(Model => Model.Sexo, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Telefono, new { @class = "fs-3" })
    </div>
    <div>
        @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control", @onkeypress = "SoloNumeros(event)", @style = "background:#33fff6" })
        @Html.ValidationMessageFor(Model => Model.Telefono, "", new { @class = "text-danger" })
        <span class="error"></span>
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Celular, new { @class = "fs-3" })
    </div>
    <div>
        @Html.TextBoxFor(model => model.Celular, new { @class = "form-control", @onkeypress = "SoloNumeros(event)", @style = "background:#33fff6" })
        @Html.ValidationMessageFor(Model => Model.Celular, "", new { @class = "text-danger" })
        <span class="error"></span>
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Curp, new { @class = "fs-3" })
    </div>
    <div>
        @Html.TextBoxFor(model => model.Curp, new { id = "curp_input", @onKeypress = "validarInput(this)", @class = "form-control", @style = "background:#33fff6" })
        @Html.ValidationMessageFor(Model => Model.Curp, "", new { @class = "text-danger" })
        <pre id="resultado"></pre>
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Rol.IdRol, new { @class = "fs-3" })
    </div>
    <div>
        @Html.DropDownListFor(model => model.Rol.IdRol, new SelectList(Model.Rol.Roles, "IdRol", "Nombre"), "Seleccciona una Opcion")
        @Html.ValidationMessageFor(Model => Model.Rol.IdRol, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Direccion.Colonia.Municipio.Estado.Estados, new { @id = "lblestado", @name = "lblestado" })
        @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.Estado.IdEstado, new SelectList(Model.Direccion.Colonia.Municipio.Estado.Estados,
         "IdEstado", "Nombre"), "Selecciona su Estado", new { @class = "form-control text-center", @id = "ddlEstado", @onchange = "MunicipioGetByIdEstado()" })
        @Html.ValidationMessageFor(Model => Model.Direccion.Colonia.Municipio.Estado.Estados, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Direccion.Colonia.Municipio.Municipios, new { @id = "lblmunicipio", @name = "lblmunicipio" })
        @Html.DropDownListFor(model => model.Direccion.Colonia.Municipio.IdMunicipio, new SelectList(String.Empty), "Selecciona el Municipio", new { @id = "ddlMunicipio", @onchange = "ColoniaGetByIdMunicipio()", @class = "form-control text-center" })
        @Html.ValidationMessageFor(Model => Model.Direccion.Colonia.Municipio.Municipios, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Direccion.Colonia.Colonias, new { @id = "lblcolonia", @name = "lblcolonia" })
        @Html.DropDownListFor(model => model.Direccion.Colonia.IdColonia, new SelectList(String.Empty), "Selecciona su Colonia", new { @id = "ddlColonia", @class = "form-control text-center" })
        @Html.ValidationMessageFor(Model => Model.UserName, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Direccion.Calle, new { @class = "fs-3" })
    </div>
    <div>
        @Html.TextBoxFor(model => model.Direccion.Calle, new { @class = "form-control", @onkeypress = "SoloLetras(event)" })
        @Html.ValidationMessageFor(Model => Model.Direccion.Calle, "", new { @class = "text-danger" })
        <span class="error"></span>
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Direccion.NumeroExterior, new { @class = "fs-3" })
    </div>
    <div>
        @Html.TextBoxFor(model => model.Direccion.NumeroExterior, new { @class = "form-control", @onkeypress = "SoloNumeros(event)", @style = "background:#33fff6" })
        @Html.ValidationMessageFor(Model => Model.Direccion.NumeroExterior, "", new { @class = "text-danger" })
        <span class="error"></span>
    </div>
    <div class="mb-3">
        @Html.LabelFor(model => model.Direccion.NumeroInterior, new { @class = "fs-3" })
    </div>
    <div>
        @Html.TextBoxFor(model => model.Direccion.NumeroInterior, new { @class = "form-control", @onkeypress = "SoloNumeros(event)", @style = "background:#33fff6" })
        @Html.ValidationMessageFor(Model => Model.Direccion.NumeroInterior, "", new { @class = "text-danger" })
        <span class="error"></span>
    </div>
    <div class="mb-3">
        <input type="file" accept=".png" name="inptFileImagen" onchange="validarImagen(), visualizarImagen(this)" id="inptFileImagen" />
        <img id="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr5dsAGEvu7dG3LF3t7F-lx3SgxKdjjd5HIg&s.png" width="200" , height="200" />
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi bi-person-fill-add"></i>Enviar</button>
</div>

}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
<script>
    var urlMunicipio = "@Url.Action("MunicipioGetByIdEstado", "Usuario")";
    var urlColonia = "@Url.Action("ColoniaGetByIdMunicipio", "Usuario")";
</script>
<script src="~/Scripts/ValidacionesFormulario/Validaciones.js"></script>


